/* Navigation section */
#navbar{
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-content: center;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
}

/* Home section */
#home{
    height: 460px;
    padding: 0px 30px;
}

#home::before{
   height: 613px;
}

#home p{
    font-size: 15px;
}


/* Services section */
#services{
    flex-direction: column;
}




/* Clients section */
#client-section{
    flex-wrap: nowrap;
}
#client img{
    width: 60px;
    padding: 0px 5px;
    height:auto;
}

.client-item{
    padding: 0px 100px;
}



/* Contact section */






/* footer section */



/* Utility classes */
.h-primary{
    font-size: 25px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}